
html{
    background-color: black;
    box-sizing: border-box;


}

*, *::before, *::after {
    box-sizing: inherit;
}




.wrapper {

    max-width: 1060px;
    margin: 0 auto;

}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
}

.header_wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_link{
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.header_link:hover{
    transition: 0.5s;
    color: #AE91EC;

}


/* ИНТРО */

.intro {
    height: 90vh;
    background: url('../img/background.png') no-repeat center;
    background-size: cover;
    padding-top: 170px;
}

.intro_title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.intro_subtitle {

    padding-top: 20px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 600px;

}



/* ВАНИЛА */


.vanilla_server {

    padding-top: 60px;

}

.vanilla_intro {

    color: #AE91EC;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}


.vanilla_into_vydel {


    color: #ffffff73;
    text-decoration: none;
    
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.vanilla_description {

    padding-top: 25px;
    display: flex;

}

.vanilla_description_text {

    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    max-width: 600px;


}


.vanilla_description_block {

    width: 450px;
    height: 500px;
    border-radius: 20px;
    background: #1f1f1f;
    margin-left: 40px;

    padding: 20px;


}

.vdb_text {


    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;


}


.vdb_desc {

    color: #AE91EC;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;


    text-align: left;

    padding-top: 10px;

}


.vdb_desc_dec {


    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    max-width: 600px;
    text-align: left;

    padding-top: 10px;

}